configuration {
  modi: "run,drun,window";
  icon-theme: "Oranchelo";
  show-icons: true;
  drun-display-format: "{icon} {name}";
  disable-history: false;
  hide-scrollbar: true;
  display-drun: "   Apps ";
  display-run: "   Run ";
  display-window: " 﩯  Window ";
  display-2fa: "  2FA ";
  sidebar-mode: true;
  location: 0;
}

@theme "~/.config/rofi/catppuccin-lavrent-mocha.rasi"
